@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Android;
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}


:root {
    --cor0: #F2F2F2;
    --cor1: #747F8C;
    --cor2: #1E2D40;
    --cor3: #0B1426;
    --cor4: #0D0D0D;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}



body {
    background: linear-gradient(to bottom, #476b94, #14213b);
    font-family: var(--fonte-padrão);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.7em
}
   
header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.801);
}

header > p {
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    color: var(--cor0);
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}
nav {
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.507) ;
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.6s;
}

nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor4);
}

main {
    min-height: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgb(230, 235, 247);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
    border-radius: 10px;
}

main h1 {
    color: var(--cor4);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor3);
    font-size: 1.3em;
    background-image: linear-gradient(to right, #95a2b3 , transparent);
}

main img {
    width: 100%;
}

main strong {
    color: #0D0D0D;
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    background-color: #9facbd;
    padding: 2px 3px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor3);
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;

}

aside {
    background-color: #becde2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.61);
}

aside > h3  {
    background-color: #0B1426;
    color: white;
    padding: 11px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\000a0\000a0';
    list-style-position: inside;
    columns: 2;
}
footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 5px;
}

div.video {
    background-color: var(--cor2);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.8%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
